/* Define CSS variables for the color scheme */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --accent-color: #e74c3c;
    --accent-color-2: #f1c4df;
    /* New accent color added*/
    --highlight-color: #e4cc37;
    --text-color: #333;
    --background-color: #f9f9f9;
}

/* General styles */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    max-width: 1200px;
    margin: auto;
    /* Center the page */
}

/* Headings and paragraphs */
h1,
h2 {
    color: var(--primary-color);
}

p {
    color: var(--text-color);
    line-height: 1.6;
}

/* Remove underlines from social media links */
footer a img {
    text-decoration: none;
    display: inline-block;
}

/* Hero container styling */
.hero {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--highlight-color);
    font-size: 3rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* Article styling */
article {
    position: absolute;
    bottom: 10%;
    left: 5%;
    background-color: rgba(255, 255, 255, 0.8);
    /* Semi-transparent background */
    padding: 1rem;
    border-radius: 8px;
    max-width: 600px;
}

article img {
    float: right;
    margin-left: 1rem;
    border-radius: 8px;
}

article p {
    margin: 0;
    color: var(--secondary-color);
}